body {
  @include text-style(14px, 24px);

  position: relative;

  margin: 0;
  padding: 0;

  font-family: "Arial", "Courier New", sans-serif;
  color: $black;

  background-color: $white;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
